@charset "utf-8";

body {
	background-color: #EEE;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: 0px 42px;
	margin: 0px;
}

/* BOX STYLES */

.shadow {
	-moz-box-shadow: 0px 0px 14px 1px #DDD;
	-webkit-box-shadow: 0px 0px 14px 1px #DDD;
	box-shadow: 0px 0px 14px 1px #DDD;
}

.rounded {
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	border-radius: 6px; 
}

/* HEADER */

#top-header {
	width: 100%;
	height: 42px;
	clear: both;
	background-color: #4A4A4A;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A4A4A', endColorstr='#383838');
	background: -webkit-gradient(linear, left top, left bottom, from(#4A4A4A), to(#383838));
	background: -moz-linear-gradient(top, #4A4A4A, #383838);
}

#top-header-container {
	width: auto;
	height: 42px;
	padding: 0px 20px 0px 12px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	color: #FFF;
}

#top-header-info {
	float: right;
	line-height: 42px;
}

#top-header-info a {
	color: #FF8000;
	text-decoration: none;
}

#header {
	width: 730px;
	height: 34px;
	clear: both;
	padding-left: 20px;
	margin: 35px auto;
}

#header img {
	border: none;
}

/* CONTENT */

#content {
	width: 710px;
	height: auto;
	clear: both;
	padding: 16px 20px;
	margin: 0px auto;
	background-color: #FFF;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	color: #444;
	line-height: 170%;
	zoom: 1;
	overflow: hidden;
}

#content h1 {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 16px;
	color: #0085B2;
	margin: 0px 0px 6px 0px;
	font-weight: normal;
	line-height: normal;
}

.row {
	width: auto;
	height: 30px;
	clear: both;
	margin-bottom: 7px;
	padding: 3px 13px;
	background-color: #F5F5F5;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}

.row:hover {
	background-color: #EEE;
}

.column-first {
	width: 130px;
	height: 30px;
	line-height: 30px;
	float: left;
	clear: left;
}	

.column-second {
	width: auto;
	height: 30px;
	line-height: 30px;
	float: left;
	zoom: 1;
	overflow: hidden;
}

a.button-black {
	width: auto;
	height: 33px;
	float: left;
	clear: left;
	border: none;
	display: block;
	line-height: 33px;
	padding: 0px 10px;
	text-decoration: none;
	background-color: #4A4A4A;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A4A4A', endColorstr='#383838');
	background: -webkit-gradient(linear, left top, left bottom, from(#4A4A4A), to(#383838));
	background: -moz-linear-gradient(top, #4A4A4A, #383838);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	color: #FFF;
}

a.button-black:hover {
	background: #333;
}

/* TOOLTIP */

.tooltip {
	display: none;
	position: absolute;
	padding: 7px 10px;
	max-width: 258px;
	max-height: 120px;
	z-index: 9997;
	background: #444;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	color: #EEE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tooltip:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(64, 64, 64, 0);
	border-bottom-color: #444;
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}

/* DROPDOWN */
#nav {
	margin: 0px; 
	padding: 0px; 
	list-style: none;
}

#nav li {
	float: left; 
	display: block;  
	position: relative;
	z-index: 500;
}
	
#nav li a {
	width: auto;
	height: 42px;
	padding: 0px 15px;
	line-height: 42px;
	display: block; 
	text-decoration:none; 
	color: #FFF;
}

#nav li a.button {
	background-position: 15px 13px;
	background-repeat: no-repeat;
	padding: 0px 15px 0px 40px;
}
	
#nav ul {
	position: absolute; 
	left: 0; 
	display: none; 
	padding: 0; 
	list-style: none;
	background-color: #333;
}
		
#nav ul li {
	width: 160px; 
	float: left;
	border-bottom: 1px solid #444;
}
		
#nav ul a {
	display: block;  
	height: 40px;
	line-height: 40px;
	color: #FFF;
	float: left;
}
		
#nav ul a:hover {
	color: #FF8000;
}

*html #nav ul { margin:0 0 0 -2px; }

/* NOTICES */

.succes {
	width: auto;
	height: auto;
	clear: both;
	padding: 10px 13px;
	margin-bottom: 7px;
	border: 1px solid #ABE098;
	background-color: #E0F4D9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	font-size: 12px;
	color: #269700;
}

.succes a {
	font-family: Arial;
	font-size: 12px;
	color: #444;
	text-decoration: underline;
}

.nosucces {
	width: auto;
	height: auto;
	clear: both;
	padding: 10px 13px;
	margin-bottom: 7px;
	border: 1px solid #FAA3A3;
	background-color: #F9D9D9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	font-size: 12px;
	color: #D90000;
}

.nosucces a {
	font-family: Arial;
	font-size: 12px;
	color: #444;
	text-decoration: underline;
}

/* TABLESTYLE */

#table {
	width: 100%;
	float: left;
	height: auto;
	clear: both;
}

.table-row {
	width: 100%;
	height: 36px;
	float: left;
	clear: left;
	background-color: #F5F5F5;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}

.table-column {
	height: 36px;
	float: left;
	line-height: 36px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	color: #444;
}

.table-column:hover {
	background-color: #EEE;
}