<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<servlet>
		<servlet-name>loginController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.loginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.registerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.logoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>klusInplannen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.klusInplannen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonteurToevoegen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurToevoegen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonteurOverzichtServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurOverzichtServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KlusAanpassen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.KlusAanpassen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginController</servlet-name>
		<url-pattern>/loginController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerController</servlet-name>
		<url-pattern>/registerController.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>logoutController</servlet-name>
		<url-pattern>/logoutController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>klusInplannen</servlet-name>
		<url-pattern>/klusInplannen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonteurToevoegen</servlet-name>
		<url-pattern>/MonteurToevoegen.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>MonteurOverzichtServlet</servlet-name>
		<url-pattern>/MonteurOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KlusAanpassen</servlet-name>
		<url-pattern>/KlusAanpassen.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MonteurZoekenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurZoekenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonteurZoekenServlet</servlet-name>
		<url-pattern>/MonteurZoekenServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OnderdeelToevoegenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.OnderdeelToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnderdeelToevoegenServlet</servlet-name>
		<url-pattern>/OnderdeelToevoegenServlet.do</url-pattern>
	</servlet-mapping>
	<listener> 
		<listener-class>com.xtotalloss.atdweb.listeners.MyServletContextListener</listener-class>
	</listener>
</web-app>