<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<servlet>
		<servlet-name>loginController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.loginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.registerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutController</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.logoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>klusInplannen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.klusInplannen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonteurToevoegen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurToevoegen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnderdeelOverzichtServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.OnderdeelOverzichtServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonteurOverzichtServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurOverzichtServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KlusZoeken</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.KlusZoeken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reserveringToevoegen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.reserveringToevoegen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KlusAanpassen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.KlusAanpassen</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WeekAgenda</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.WeekAgenda</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KlusVerwijderen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.KlusVerwijderen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginController</servlet-name>
		<url-pattern>/loginController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerController</servlet-name>
		<url-pattern>/registerController.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>logoutController</servlet-name>
		<url-pattern>/logoutController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>klusInplannen</servlet-name>
		<url-pattern>/klusInplannen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonteurToevoegen</servlet-name>
		<url-pattern>/MonteurToevoegen.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>OnderdeelOverzichtServlet</servlet-name>
		<url-pattern>/OnderdeelOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonteurOverzichtServlet</servlet-name>
		<url-pattern>/MonteurOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KlusZoeken</servlet-name>
		<url-pattern>/KlusZoeken.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MonteurZoekenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.MonteurZoekenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonteurZoekenServlet</servlet-name>
		<url-pattern>/MonteurZoekenServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OnderdeelZoekenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.OnderdeelZoekenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnderdeelZoekenServlet</servlet-name>
		<url-pattern>/OnderdeelZoekenServlet.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>gegevensWijzigen</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.gegevensWijzigen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gegevensWijzigen</servlet-name>
		<url-pattern>/gegevensWijzigen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeekAgenda</servlet-name>
		<url-pattern>/WeekAgenda.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OnderdeelToevoegenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.OnderdeelToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnderdeelToevoegenServlet</servlet-name>
		<url-pattern>/OnderdeelToevoegenServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FactuurOpmakenServlet</servlet-name>
		<servlet-class>com.xtotalloss.atdweb.controller.FactuurOpmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FactuurOpmakenServlet</servlet-name>
		<url-pattern>/FactuurOpmakenServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reserveringToevoegen</servlet-name>
		<url-pattern>/reserveringToevoegen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KlusAanpassen</servlet-name>
		<url-pattern>/KlusAanpassen.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KlusVerwijderen</servlet-name>
		<url-pattern>/KlusVerwijderen.do</url-pattern>
	</servlet-mapping>
	<listener> 
		<listener-class>com.xtotalloss.atdweb.listeners.MyServletContextListener</listener-class>
	</listener>
</web-app>